footer{
    margin-top: 500px;
    height: 150px;
    background-color: rgb(89, 171, 72);

    p{
        margin-left: 15px;
        color: rgb(255, 255, 255);
    }

    #myCanvas{
        margin-left: 10px;
    }


}